<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Habanero Sociedade dos Pimenteiros</title>
  </head>
  <body> 
    <form action="/associar" method="post">

      <label for="email">Digite o seu email:</label>

      <input type="text" name="email" />
      <p><input type="submit" value="Seguir cadastrando minhas pimentas &rarr;" /></p>
    </form>
  </body>
</html>
